/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

/**********************
        CSS Reset
**********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct 'inline-block' display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    display: inline;
    zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *   ‘em’ units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/**********************
    CSS Style Begin
**********************/

/**********************
Mobile(default) Version
**********************/

/* Duplicate CSS code start (inclucding header and footer) */
/* Set body font as Nunito, and display layout */
body {
    max-width: 1480px;
    display: block;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

p,h4 {
    font-family: 'Nunito', sans-serif;
}

/* Set font family as Abril Fatface in h1 and h2 */
h1,h2 {
    font-family: 'Abril Fatface', cursive;
}

/* Remove link decoration and set the color */
a {
    text-decoration: none;
    color: white;
}

.siteheader {
    background-color: #000;
}

/* Set the main navigation links and display in a column */
.mainnav ul {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
}

/* Add padding to main navigation links */
.mainnav ul li {
    padding: 3%;
}

/* Set hoover color for main navigation */
.mainnav ul li:hover{
    background-color: #D67160;
}

.container{
    display: block;
}

/* Add padding for icons in the header */
.headericon {
    padding: 2% 0 2% 2%;
}

.headericon a{
    font-size: 1.5rem;
    padding-right: 2%;
}

 /* Displays an element as a block-level grid container */
 /* Specifies the size(s) of the columns and rows, 1 column * 4 rows, 1fr is the size of each */
.container footer {
    background-color: #000;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Set the subnav as the first block, the size is the first 1 cloumn and first 1 row */
.subnav {
    display: block; 
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* Set links display in a column */
.subnav nav ul {
    display: flex;
    flex-direction: column;
}

.subnav nav ul li {
    padding: 5%; 
}

/* Set the footer-content as the third block, the size is the the first 1 column and 3-4 rows */
.footer-content {
    padding: 2%;
    grid-row: 3/4;
    white-space: nowrap;
}

.footer-content label {
    display: block;
    padding-bottom: 1%;
    color: white;
}

/* Set the footericon section as the second block, the size is the the first 1 column and 2-3 rows */
/* Set icons in footericon display in column */
.footericon {
    display: flex;
    flex-direction: column;
    grid-row: 2/3;
}

.footericon a {
    padding:1%;
}

.footercontact {
    padding-bottom: 5%;
}

.footercontact p {
    color: white;
    padding: 1%;
}

/* Size the footer-content */
.footer-content input {
    width: 50%;
    height: 30px;
    color:lightgrey;
}
/* Duplicate css end */

/* Home page mobile version CSS start */
.banner img{
    width: 100%;
}

.firstcontent {
    padding: 8%;
}

.firstcontent h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10%;
}

.firstcontent img {
    width: 100%;
}

.subclass p {
    padding: 5%;
    font-size: 1.5rem;
    text-align: center;
    color: #000;
}

.firstcontent button {
   display: block;
   margin: 0 auto;
   font-size: 1.5rem;
   background-color: #D67160;
   border-radius: 15px;
   padding: 2% 5% 2% 5%;
   color: white;
}

.container .gallery {
    background-color: #FFF2F2;
}

.mainpagegallery {
    display: flex;
    flex-direction: column;
}

.mainpagegallery img {
    width: 100%;
}

.mainpagegallery {
    padding:8%;
}

.gallery{
    padding: 5% 0 5% 0;
}

.gallery h4 {
    font-weight: bold;
}

.gallery .gallery-title h2 {
    font-size: 3rem;
    text-align: center;
}

.gallery button {
    display: block;
   margin: 0 auto;
   font-size: 1.5rem;
   background-color: #D67160;
   border-radius: 15px;
   padding: 2% 5% 2% 5%;
   color: white;
}

.photoone {
    padding-bottom: 5%;
}

.phototwo {
    padding-bottom: 5%;
}

.photothree {
    padding-bottom: 5%;
}

.photofour {
    padding-bottom: 5%;
} 

.photodescribtionone {
    background-color: black;
    color: white;
    padding: 2% 0 2% 2%;
}

.photodescribtiontwo {
    background-color: black;
    color: white;
    padding: 2% 0 2% 2%;
}

.photodescribtionthree {
    background-color: black;
    color: white;
    padding: 2% 0 2% 2%;
}

.photodescribtionfour {
    background-color: black;
    color: white;
    padding: 2% 0 2% 2%;
}

.content {
    padding:5% 0 5% 0;   
}

.content h2 {
    font-size: 3rem;
    text-align: center;
}

.content p {
    color: #000;
    padding: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.content button {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    background-color: #D67160;
    border-radius: 15px;
    padding: 2% 5% 2% 5%;
    color: white;
}
/* Home page mobile version CSS end */

/* About page mobile version CSS start */
.about-intro {
    padding-bottom: 5%;
}

.about-intro h1 {
    text-align: center;
    font-size: 3rem;
    padding: 5%;
}

.about-intro img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.about-intro-content h2 {
    text-align: center;
    font-size: 2rem;
    padding: 5% 5% 2% 5%;
}

.about-intro-content p {
    padding: 5%;
    text-align: center;
    font-size: 1.5rem;
}

.about-content {
    display: block;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
    background-color: #FFF2F2;
}

.about-content h1 {
    font-size: 2rem;
    padding: 2%;
}

.about-content h2 {
    font-size: 1.5rem;
    padding: 4%;
    margin-bottom: 2%;
}

.about-content p {
    padding: 3%;
}

.about-photo h1 {
    font-size: 2rem;
    padding: 5% 0;
    display: block;
    margin: 0 auto;
}

.about-photo {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.about-photo img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

div.card-container-1 {
    display: table;
    margin: 0 auto;
    padding-top: 5%;
}

.card-container-1 h4 {
    font-size: 1.2rem;
    padding: 5%;
    text-align: center;
}

.card-container-1 p {
    font-size: 1rem;
    padding: 5%;
}

.card-container-1 i {
    padding: 5%;
}

div.card-container-2 {
    display: table;
    margin: 0 auto;
    padding-top: 5%;
}

.card-container-2 h4 {
    font-size: 1.2rem;
    padding: 5%;
    text-align: center;
}

.card-container-2 p {
    font-size: 1rem;
    padding: 5%;
}

.card-container-2 i {
    padding: 5%;
}

div.card-container-3 {
    display: table;
    margin: 0 auto;
    padding-top: 5%;
}

.card-container-3 h4 {
    font-size: 1.2rem;
    padding: 5%;
    text-align: center;
}

.card-container-3 p {
    font-size: 1rem;
    padding: 5%;
}

.card-container-3 i {
    padding: 5%;
}

.card-container-content-1 {
    display: flex;
    flex-direction: row;  
}

.card-1 {
    padding-bottom: 5%;
}

.card-container-content-2 {
    display: flex;
    flex-direction: row;
}

.card-2 {
    padding-bottom: 5%;
}

.card-container-content-3 {
    display: flex;
    flex-direction: row;
}

.card-3 {
    padding-bottom: 5%;
}

/* About page mobile version CSS end */

/* Portfolio page mobile version CSS start */
.portfolio-intro{
    display: block;
    margin: 0 auto;
}

.portfolio-intro h1{
    text-align: center;
    font-size: 3rem;
    padding: 5%;
}

.portfolio-content{
    background-color: #FFF2F2;
    padding-bottom: 5%;
}

.portfolio-content h3{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 5% 10% 5% 10%;
}

.portfolio-content p{
    text-align: center;
    font-size: 1.5rem;
    padding: 2% 5% 2% 5%;
}

 /* Displays an element as a block-level grid container */
 /* Specifies the size(s) of the columns and rows, 1 column * 3 rows, 1fr is the size of each */
 .photo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.portfolio-gallery-1 img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

.portfolio-gallery-1 h2{
    text-align: center;
    font-size: 2rem;
    padding: 5%;
}

.portfolio-gallery-2{
    margin-bottom: 5%;
}

.portfolio-gallery-2 h2{
    text-align: center;
    font-size: 2rem;
    padding: 5%;
    margin-top: 2%;
}

.portfolio-gallery-2 img{
    width: 80%;
    display: block;
    margin: 0 auto;  
}

.graphic-design {
    padding-bottom: 5%;
}

button {
   display: block;
   margin: 0 auto;
   font-size: 1.5rem;
   background-color: #D67160;
   border-radius: 15px;
   padding: 2% 5% 2% 5%;
   color: white;
}

.photo-content-1 {
    display: table;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FFF2F2;
    width: 80%;
}

.photo-content-1 i {
    padding:2%;
}

.photo-content-1 p {
    padding:2%;
}

.photo-content-2 {
    display: table;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FFF2F2;
    width: 80%;
}

.photo-content-2 i {
    padding:2%;
}

.photo-content-2 p {  
    padding:2%;
}

.photo-content-3 {
    display: table;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FFF2F2;
    width: 80%;
}

.photo-content-3 i {
    padding:2%;
}

.photo-content-3 p {
    padding:2%;
}

.photo-content-4 {
    display: table;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FFF2F2;
    width: 80%;
}

.photo-content-4 i {
    padding:2%;
}

.photo-content-4 p {
    padding:2%;
}

.photo-content-5 {
    display: table;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FFF2F2;
    width: 80%;
}

.photo-content-5 i {
    padding:2%;
}

.photo-content-5 p {
    padding:2%;
}

.photo-content-6 {
    display: table;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    background-color: #FFF2F2;
    width: 80%;
}

.photo-content-6 i {
    padding:2%;
}

.photo-content-6 p {
    padding:2%;
}

.portfolio-gallery-1 button {
    margin-top: 5%;
}

/* Portfolio page mobile version CSS end */

/* Contact page mobile version CSS start */
.contact-content {
    padding: 2% 0;
}

.contact-content h2 {
    text-align: center;
    font-size: 2rem;
    padding: 2%;
}

.sub-contact-content {
    text-align: center;
    padding: 5%;
}

.sub-contact-content p {
    text-align: center;
    margin-top: 2%;
    font-size: 1.2rem;
}

.sub-contact-content h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2%;
}

form {
    display: table;
    margin: 0 auto;
    width: 80%;   
    padding-top: 0;
}

form h4 {
    font-size: 1.5rem;
    padding-bottom: 2%;
    text-align: center;
    font-weight: bold;
}

.form input,textarea {
    background-color: #FFF2F2;
    width: 100%;
    border-radius: 5px;
}

.form input {
    height: 40px; 
}

.form textarea{
    height: 150px;
}

.location {
    padding: 5%;
}

.location h2 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 5%;
}

/* Position import Google Map */
.location iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}
/* Contact page mobile version CSS end */

/* Graphic page mobile version CSS start */
.main-graphic img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.main-graphic h2 {
    text-align: center;
    font-size: 3rem;
    padding: 5%;
}

.gtitle-1 {
    margin-left: 10%;
    background-color: #FFF2F2;
    width: 80%;
}

.gtitle-1 p {
    padding: 5%;
}

.gtitle-2 {
    margin-left: 10%;
    background-color: #FFF2F2;
    width: 80%;
}

.gtitle-2 p {
    padding: 5%;
}

.gtitle-3 {
    margin-left: 10%;
    background-color: #FFF2F2;
    width: 80%;
}

.gtitle-3 p {
    padding: 5%;
}

.gtitle-4 {
    margin-left: 10%;
    background-color: #FFF2F2;
    width: 80%;
}

.gtitle-4 p {
    padding: 5%;
}

.gtitle-5 {
    margin-left: 10%;
    background-color: #FFF2F2;
    width: 80%;
}

.gtitle-5 p {
    padding: 5%;
}

.graphic-5 {
    padding-bottom: 5%;
}
/* Graphic page mobile version CSS end */

/* Photo page mobile version CSS start */
.photo-g {
    padding: 5%;
    display: block;
}

.photo-g h2 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 5%;
}

.photo-g img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.photo-g-p-1 {
    position: relative;
    display: block;
    text-align: center;
}

.p-1 {
    position: absolute;
    left: 8%;
    top:75%;
    z-index: 999;
    background-color: white ;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 2%;
}

.photo-g-p-2 {
    position: relative;
    display: block;
    text-align: center;
}

.p-2 {
    position: absolute;
    left: 8%;
    top:75%;
    z-index: 999;
    background-color: white ;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 2%;
}

.photo-g-p-3 {
    position: relative;
    display: block;
    text-align: center;
}

.p-3 {
    position: absolute;
    left: 8%;
    top:75%;
    z-index: 999;
    background-color: white ;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 2%;
}

.photo-g-p-4 {
    position: relative;
    display: block;
    text-align: center;
}

.p-4 {
    position: absolute;
    left: 10%;
    top:75%;
    z-index: 999;
    background-color: white ;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 2%;
}

.photo-g-p-5 {
    position: relative;
    display: block;
    text-align: center;
}

.p-5 {
    position: absolute;
    left: 10%;
    top:75%;
    z-index: 999;
    background-color: white ;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 2%;
}

.photo-g-p-6 {
    position: relative;
    display: block;
    text-align: center;
}

.p-6 {
    position: absolute;
    left: 10%;
    top:75%;
    z-index: 999;
    background-color: white ;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 2%;
}

.photo-g-p-7 {
    position: relative;
    display: block;
    text-align: center;
}

.p-7 {
    position: absolute;
    left: 10%;
    top:75%;
    z-index: 999;
    background-color: white ;
    opacity: 80%;
    font-size: 1.5rem;
    padding: 2%;
}
/* Photo page mobile version CSS end */

/**********************
    Tablet Version
**********************/
@media screen and (min-width:768px){
    /* Duplicate code start */
    body {
        display: block;
        margin: 0 auto;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 1 row, 1fr is the size of each */
    .siteheader {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    /* Set mainnav as the first block, the size is 1-2 column and 1-2 row */
    .mainnav {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /* Set headericon as the second block, the size is 2-3 column and 1-2 row */
    .headericon {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 15%;
    }

    .headericon a {
        padding: 5%;
    }

    .mainnav ul {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        padding: 5%;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 2 rows, 1fr is the size of each, the second row is 2fr size */
    .firstcontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    }

    /* Set firstcontent h1 as a size is 1-3 column and 1-2 row block */
    .firstcontent h1 {
        grid-column: 1/3;
        grid-row: 1/2;
        padding-top: 5%;
    }

    /* Set firstcontent img as a size is 2-3 column and 2-3 row block */
    .firstcontent img {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* Set subclass as a size is 1-2 column and 2-3 row block */
    .subclass {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-rows: 3fr 0.5fr;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 4 columns * 1 row, 1fr is the size of each */
    .container footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding:5% 0 5% 0;
    }

    /* Set subnav as the first bloack, the size is 1-2 column and 1-2 row */
    .subnav {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    /* Set footericon as the second bloack, the size is 2-3 column and 1-2 row */
    .footericon {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 5%;
    }

    /* Set footer-content as the third bloack, the size is 3-4 column and 1-2 row */
    .footer-content {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: 5%;
    }

    /* Set footercontact as the fourth bloack, the size is 4-5 column and 1-2 row */
    .footercontact {
        grid-column: 4/5;
        grid-row: 1/2;
        padding-top: 3%;
    }

    .footer-content input {
        width: 90%;
    }
    /* Duplicate code end */

    /* Home page tablet version CSS start */
    .mainpagegallery img{
        width: 100%;
        height: 90%;
        display: block;
        object-fit: cover;
    }

    /* Reference: Learn from https://www.reddit.com/r/css/comments/8vmo4u/problem_fitting_image_to_css_grid/ to fix the img cover issue */
    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 3 row, 1fr is the size of each */
    .mainpagegallery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 2fr 1fr ;
            grid-column-gap: 0px;
            grid-row-gap: 0px;   
    }

    /* Set photoone as the first bloack, the size is 1-3 column and 1-2 row */
    .photoone {
        grid-column: 1/3;
        grid-row: 1/2;   
    }

    /* Set phototwo as the second bloack, the size is 1-3 column and 2-3 row */
    .phototwo {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    /* Set photothree as the third bloack, the size is 1-2 column and 3-4 row */
    .photothree{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    /* Set photofour as the fourth bloack, the size is 2-3 column and 3-4 row */
    .photofour{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    /* Home page tablet version CSS end */

    /* About page tablet version CSS start */
    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 2 row, 1fr is the size of each */
    .about-intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr ;
        padding-bottom: 5%;
    }

    .about-intro h1 {
        grid-column: 1/3;
        grid-row: 1/2;   
    }

    .about-intro img {
        grid-column: 2/3;
    }

    .about-intro-content {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .mytechnologies {
        padding-bottom: 4%;
    }

    .myexperience {
        padding-bottom: 4%;
    }

    .myeducation {
        padding-bottom: 4%;
    }

    .card-1 {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
    }

    .card-2 {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
    }

    .card-3 {
        display: flex;
        flex-direction: row;
        padding-bottom: 5%;
    }

    div.card-container-1 {     
        padding-top: 15%;
    }

    div.card-container-1 p {     
        text-align:center;
    }

    div.card-container-2 { 
        padding-top: 15%;
    }

    div.card-container-2 p {     
        text-align:center;
    }

    div.card-container-3 {
        padding-top: 15%;
    }

    div.card-container-3 p {     
        text-align:center;
    }

    .about-photo i {
        padding-left: 10%;
    }
    /* About page tablet version CSS end */

    /* Contact page tablet version CSS start */
    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 1 row, 1fr is the size of each */

    .in-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form-1,.form-2 {
        width: 80%;
    }

    .form-1 input {
       margin:5% 0;
    }

    .form-2 input {
        margin: 5% 0;
    }

    .form-2 textarea {
        margin-top: 5%;
        height: 130px;
    }
    /* Contact page tablet version CSS end */
}

/**********************
    Desktop Version
**********************/
@media screen and (min-width:1024px) {
    /* Home page desktop version CSS start */
    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 4 columns * 2 rows, 1fr is the size of each */
    .mainpagegallery {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.5fr;
    }

    /* Set photoone as the first block */
    .photoone {
        grid-column: 1/3;
        grid-row: 1/3;  
    }

    .photoone img {
        width: 100%;
        height: 97%;
        display: block;
        object-fit: cover;
    }

    /* Set photoone as the second block */
    .phototwo {
        grid-column: 3/5;
        grid-row: 1/2;
    }

    /* Set photoone as the third block */
    .photothree {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    /* Set photoone as the fourth block */
    .photofour {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .photodescribtiontwo {
    background-color: black;
    color: white;
    }

    .phototwo {
        padding-bottom: 2%;
    }
    /* Home page desktop version CSS end */

    /* About page desktop version CSS start */
    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 1 column * 1 row, 1fr is the size of each */
    .in-about-content {
        display: grid;
        grid-template-columns: 1fr;
    } 

    .about-content h1 {
        padding-bottom: 5%;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 1 row, 1fr is the size of each */
    .about-content-para-1 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        text-align: left;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 1 row, 1fr is the size of each */
    .about-content-para-2 {
        display: grid;
        grid-template-columns: 1fr 3fr;
        text-align: left;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 1 row, 1fr is the size of each */
    .about-content-para-3 {
        display: grid;
        grid-template-columns: 0.67fr 2fr;
        text-align: left;
    }

    about-content-para-2 h2 {
        padding-right: 2%;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 3 columns * 3 rows, 1fr is the size of each */
    .about-photo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 3fr 0.5fr;
    }

    /* Set the first block, the size is 2-3 column * 1 row */
    .about-photo h1 {
        grid-column: 2/3;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    /* Set the second block, the size is 2-3 column * 3-4 row */
    .about-button {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    /* Set the grid block, the size is 1-2 column * 2-3 row */
    .card-1 {
        display: flex;
        flex-direction: column;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /* Set the grid block, the size is 2-3 column * 2-3 row */
    .card-2 {
        display: flex;
        flex-direction: column;
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* Set the grid block, the size is 3-4 column * 2-3 row */
    .card-3 {
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .about-photo i {
        padding-left: 12%;
    }
    /* About page desktop version CSS end */

    /* Portfolio page desktop version CSS start */
    .portfolio-intro h3 {
        padding-bottom: 2%;
    }

    .photo {
        display: flex;
        flex-direction: row;
    }

    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 3 columns * 1 row, 1fr is the size of each */
    .graphic-design {
        display: grid;
       grid-template-columns: 1fr 1fr 1fr;    
    }

    .g3 {
        padding-bottom: 5%;
    }
    /* Portfolio page desktop version CSS end */

    /* Garaphic page desktop version CSS start */
    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 2 columns * 3 rows, 1fr is the size of each */
    .graphic-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
    }

    /* Set the first grid block, the size is 1-3 column * 1-2 row */
    .graphic-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .graphic-1 img {
        width: 90%;
        height: 80%;
        display: block;
        object-fit: cover;
    }

    .gtitle-1 {
        width: 90%;
        margin-left: 5%;
    }

    /* Set the second grid block, the size is 1-2 column * 2-3 row */
    .graphic-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    /* Set the third grid block, the size is 2-3 column * 2-3 row */
    .graphic-3 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    /* Set the fourth grid block, the size is 1-2 column * 3-4 row */
    .graphic-4 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .graphic-4 img {
        height: 82%;
    }

    .graphic-5 img {
        height: 90%;
        width: 80%;
    }
    /* Garaphic page desktop version CSS end */

    /* Photo page desktop version CSS start */
    /* Displays an element as a block-level grid container */
    /* Specifies the size(s) of the columns and rows, 3 columns * 3 rows, 1fr is the size of each */
    .photo-g-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    /* Set the first grid block, the size is 1-3 column * 1-2 row */
    .photo-g-p-1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    
    /* Set the second grid block, the size is 3-4 column * 1-2 row */
    .photo-g-p-2 {
        grid-column: 3/4;
        grid-row:1/2;
    }

    /* Set the third grid block, the size is 2-6 column * 2-3 row */
    .photo-g-p-3 {
        grid-column: 2/6;
        grid-row: 2/3;
    }

    /* Set the last grid block */
    .photo-g-p-4 {
        grid-column: 1/2;
    }
    /* Photo page desktop version CSS end */

    /* Contact page tablet version CSS start */
    .form-2 textarea {
        height: 150px;
    }
    /* Contact page tablet version CSS end */
}